!!!
%html
  %head
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/css/bootstrap-responsive.css", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz", :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => "text/javascript", :src => "https://www.google.com/jsapi"}
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.7.1.min.js"}
    %script{:type => "text/javascript", :src => "http://stocktwits.com/addon/widget/1/stocktwits-widget.min.js"}
    %script{:type => "text/javascript", :src => "/js/application.js"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{:rel => "icon", :type => "image/png", :href => "img/wild_dog_icon.png"}
    = stylesheets
    %title=@page_title
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %ul{:class => "nav"}
            %li{:class => @home}
              = link_to "Home", "/"
            %li{:class => @about}
              = link "About", "about.html"
            %li
              %a{:href => "http://trade.lycaontrading.com/Lycaontrading/default.aspx"}
                Start Trading
            %li 
              = link "Lycaon Markets", "lycaon_markets.html"
            %li
              = link "Learning Centre", "learning_centre.html"
            %li
              = link "Mentorship", "mentorship.html"
            %li
              = link "Contact", "contact.html"
                
                  
    .container
      .hero-unit
        %h1
          .lycaon_pictus
            %img{:src => "img/Lycaon-trading_logo_site.jpg", :class => "wild_dog_desktop"}
            %img{:src => "img/wild_dog_mobile.png", :class => "wild_dog_mobile"}
        .aboutdog
          The  African Wild Dog (Lycaon Pictus) has developed a highly specialized social system that allows them to live and hunt more effectively often bringing down much larger prey than predators their size should. They are masters of using collaboration to improve their probability of survival. The dog is endangered.
          %br 
          To donate: 
          %a{:href=>"http://wildnet.org/wildlife/africandog.html?gclid=CKzk8Mja2q8CFQVoKgodHlOsDg"}
            click here
      .row
        .span8
          = yield
        .span1 &nbsp;
        .span3
          #about_me
            %h2 Vision Statement
            =img "/img/justin_rentzke.jpg"
            "My vision is of creating a business built on providing a service and product that will benefit society, whilst taking us as professional traders on a journey of self discovery and improvement. The goal in trading and in life is for us to be the best that we possibly can be."
            = link_to "JK Rentzke", "about.html"
            
          .side_content#tweets
            .side_content#icons
              %a{:href => "https://twitter.com/#!/Lycaontrading"}
                =img "/img/twitter_icon.jpg", :width => "58", :height => "58"
              %a{:href => "https://www.elance.com/s/jk_rentzke/?rid=2781Y"}
                =img "/img/elance_icon.jpg", :width => "58", :height => "58"
              %a{:href => "mailto:jk@lycaontrading.com"}
                =img "/img/email_icon.jpg", :width => "58", :height => "58"
              %br
              %a{:href => "http://lycaonfutures.blogspot.com/"}
                =img "/img/blogger_icon.jpg", :width => "58", :height => "58"
              %a{:href => "http://stocktwits.com/Lycaontrading"}
                =img "/img/stocktwits_icon.jpg", :width => "58", :height => "58"
              %a{:href => "http://za.linkedin.com/pub/justin-rentzke/50/234/91"}
                =img "/img/linkedin_icon.jpg", :width => "58", :height => "58"
            %br
            %h2 Ideas On StockTwits
            :plain
              <script type="text/javascript">
                StockTwitsWidget.load({ stream: '@lycaontrading', style: { width: '100%', height: '350px' } });
              </script>
          .side_content#our_partners
            %h2 Our Partners
            %a{:href => "http://trade.lycaontrading.com/Lycaontrading/default.aspx"}
              =img "/img/Velo_v1.jpg", :width => "281", :height => "163"

      %footer#contact
        %h2 Contact Us
        .row
          .span4
            %strong Lycaon Trading
            %address
              200 on Main
              %br
              Main Road
              %br
              Claremont
              %br
              7806
              %br
              South Africa
              %br
              %br
              +27212008890

      .disclaimer
        (c) Lycaon Trading. The Content on the Site provides general information only. It is not intended as investment advice and must not be relied upon as such. You should obtain professional investment advice tailored to your specific circumstances prior to making any investment decisions. Some Content on the Site provides general information about certain financial products including without limitation securities and derivatives products. The Site does not provide, and must not be construed as providing, recommendations in relation to any financial products. Prior to any action or investment you should seek independent professional advice. |
          
    :plain
      <script type="text/javascript">
       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-31325247-1']);
       _gaq.push(['_trackPageview']);
       (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
      </script>